{% extends 'base.html' %}

{% block content %}
<h1 class="text-center my-4">Consultas Pendientes</h1>
<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
        <thead class="bg-primary text-white">
            <tr>
                <th>Nombre Cliente</th>
                <th>Teléfono</th>
                <th>Tipo de Consulta</th>
                <th>Problema del cliente</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td class="text-center">{{ consulta.fields.Cliente }}</td>
                <td class="text-center">{{ consulta.fields.Telefono }}</td>
                <td class="text-center">
                    <span class="badge 
                                 {% if consulta.fields.TipoConsulta == 'Service' %}bg-warning text-dark{% elif consulta.fields.TipoConsulta == 'Presupuesto' %}bg-primary{% elif consulta.fields.TipoConsulta == 'Urgencia' %}bg-danger{% endif %}">
                        {{ consulta.fields.TipoConsulta }}
                    </span>
                </td>
                <td class="text-center">{{ consulta.fields.DescripcionConsulta }}</td>
                <td>
                    <form method="post" action="{% url 'actualizar_estado' consulta.id %}">
                        {% csrf_token %}
                        <select name="estado" class="form-select form-select-sm">
                            <option value="Pendiente" {% if consulta.fields.Estado == "Pendiente" %}selected{% endif %}>Pendiente</option>
                            <option value="En proceso" {% if consulta.fields.Estado == "En proceso" %}selected{% endif %}>En proceso</option>
                            <option value="Finalizado" {% if consulta.fields.Estado == "Finalizado" %}selected{% endif %}>Finalizado</option>
                        </select>
                </td>
                <td class="text-center">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fas fa-sync-alt"></i> Actualizar
                    </button>
                </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
