body {
            background-color: #2c2f33;
            color: #000000;
        }
        
        
        h1 {
            color: #000000;
        }

       

        .badge.bg-danger {
            background-color: #e74c3c;
        }

        .badge.bg-primary {
            background-color: #3498db;
        }

        .badge.bg-warning.text-dark {
            background-color: #f1c40f;
            color: #333;
        }

        .btn-success {
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-success:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

       